# File: requirements.txt
# List of Python dependencies for the project.
# Install these using: pip install -r requirements.txt

opencv-python
face_recognition
numpy
Flask
imutils
isort[colors]
flake8
black
pytest
pytest-cov
mypy
safety
bandit
